@import '../vars.scss';

.Logo {
    width: 100%;
    color: $colorAccent;
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
    flex-grow: 1;
    font-weight: 600;
    display: flex;
    align-items: center;
    @include unselectable;
}