@import "../vars.scss";

.DropDown {
  @include unselectable;
  position: relative;
  display: flex;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  ul li {
    list-style: none;
  }

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }

}

.DropDownContent {
  width: 100%;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 2px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  ul li p {
    display: flex;
    cursor: pointer;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 10px;
    margin: 0;

    //@include dsText;
    &:hover {
      background: $colorGreyThird;
    }
  }
}

.DropDownButton {
  height: 80%;
  cursor: pointer;
  right: 0;
  display: flex;
  align-items: center;
  border-radius: 5px;
  &:hover {
    background: $colorGreyThird;
  }
}

.active {
  display: block;
}
