@import '../../vars.scss';

.SearchInput {
  background: white;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  

  input {
    display: block;
    box-sizing: border-box;
    border: none;
    padding: 7px 7px 4px 7px;
    width: 100%;
    outline: none;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    @include dsText;
    margin: 0 7px;


    &::placeholder {
      @include lsText;
      margin-top: 5px;
      
    }
  }

  &__Icon {
    color: $colorGreySecond;
  }
}