@import '../vars.scss';

.SponsorMain_Materials {
    // display: flex;
    &__Title {
        font-size: 20px;
        padding: 16px;
        font-weight: 550;
    }
    &__TwoBlocks{
        display: flex;
    }
}