$color:  #E9EDF8;
$colorAccent: #65469B;
$colorText: #666D7D;

.Auth{
    display: flex;
    
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}

.Auth > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.Auth h1{
    color: black;
    text-align: center;
}

.AuthForm{
    background: $color;
    border-radius: 10px;
}

.AuthForm p{
    
    text-align: center;
    cursor: pointer;
}

.AuthForm p:hover{
    font-weight: 500;
}