@import "../vars.scss";

.ActiveQuiz {
    padding: 20px;
    text-decoration: none;
    color: #363f54;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 0 10px;
    box-sizing: border-box;
}

.Question {
    display: flex;
    justify-content: space-between;
}
