@import "../../../components/UI/vars.scss";


.UserList{
  display: flex;
  flex-direction: column;
  height: 100%;
  &__FindLabel{
    margin-top: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__List{
    width: 100%;
    overflow: auto;
    height: 100%;
    ul{
      list-style: none;
      padding: 0;
      margin-right: 15px;
      li{
        margin: 12px 0;
        cursor: pointer;
      }
    }
  }

}

.Aside{
  position: relative;
  i{
    position: absolute;
        top: 0;
        right: 0;
        color: $colorGreyFirst;
        padding: 3px;
        cursor: pointer;
        z-index: 100;
        &:hover{
            color: $colorAccent;
        }
  }
}