 @import './../../UI/vars.scss';

.Navbar {
  height: 44px;
  width: 100%;
  z-index: 100;
  background: white;
  display: flex;
  align-content: flex-end;
  border-bottom: 1px solid lightgray;
}

.userInfo {
  width: fit-content;
  margin-left: auto;
}

.userInfo:hover {
  background: $color;
}

.userInfoBlock {
  display: flex;
  justify-content: flex-end;
  color: $colorText;
  font-size: 16px;
}



.userInfoBlock p {
  margin: 11px 5px 9px 5px;
}

.userInfo a {
  margin: 0;
  color: white;
  text-decoration: none;
}

.userInfoBlock i {
  padding: 15px 0px 15px 0px;
  font-size: 12px;

  margin-right: 5px;
}

.round {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;

  margin: 6px 5px 6px 5px;
}
