@import './../UI/vars.scss';
$color:  #E9EDF8;
$colorAccent: #65469B;


.DateChanger {
  padding-left: 40%;
  font-weight: 520;
  margin-bottom: 1.2%;
  margin-top: 0.2%;
  button {
    background-color: $colorAccentLight;
    border: 0px;
    font-weight: 900;
    font-size: 15pt;
  }
}

.img {
  padding-top: 5%
}

.date {
  padding-top: 1.5%;
}

.Panel {
  margin-left: 1px;
  margin-top: 1px;
  //margin-bottom: 30px;
}

.Time {
  background: #fff;
  padding-left: 7%;
  width: 100px;
  border: 1px solid #fff;
}

.Event {
  background: #fff;
  margin-left: 8px;
  padding-left: 3px;
  width: 1000px;
  height: 51px;
  border: 1px solid #fff;
}

.column{
     padding-left: 1.2%;
     display: flex;
     flex-direction: column;
}

.Row{
   display: flex;
  justify-content: start;
  margin-bottom: 0px;
  :nth-child(2){
     margin-left: 0px
  }
}
