@import '../vars.scss';

.SponsorItem {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        transform: scale(1.06);
    }
    &__Photo {
        height: 120px;
        width: 150px;
        background: url('../../../images/userPhoto.jpg');
        background-size: cover;
        background-position: center;
    }
    &__Texts {
        padding: 5px;
        @include text;
        h1 {
            font-size: 15px;
        }
        p {
            opacity: 0.7;
        }
    }
}