@import '../vars.scss';

.TimetableCard {
    width: 100%;
    border-radius: 20px;
    background-color: white;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; //чтобы брал паддинг от ширины, а не доп
    margin-bottom: 15px;
    &__Top {
        display: flex;
        align-items: center; // центрирование по вертикали
        justify-content: space-between; // центрирование по расстоянию между элементами
        span {
            font-size: 16px;
            font-weight: 500; // жирность
        }
        button {
            display: inline;
            background-color: $colorAccentLight;
            border-radius: 10px;
            color: black;
            font-size: 12px;
            padding: 7px 13px;
            border: none;
            cursor: pointer;
            outline: none;
        }
        i{
            font-size: 15px;
            margin-left: 6px;
        }
    }
    &__Title {
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
    }
    &__Text {
        font-size: 14px;
        margin-top: 10px;
    }
    &__Speakers {
        font-size: 14px;
        font-weight: 600;
        margin-top: 15px;
        ul{
            list-style: none;
            padding: 0;
            li{
                display: flex;
                margin-bottom: 10px;

            }
        }
        &__Info{
            display: flex;
            margin-left: 10px;
            justify-content: space-around;
            flex-direction: column;
            &__Name{
                font-weight: 500;
            }
            &__Career{
                font-weight: 400;
            }
        }
    }
    &__ButtonWatch {
        margin: 0 auto;
        background-color: $colorAccent;
        border-radius: 10px;
        color: white;
        font-size: 12px;
        padding: 7px 30px;
        border: none;
        cursor: pointer;
        outline: none;
    }
}
