@import "../vars.scss";

.TimetableCard {
  width: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 12px 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box; //чтобы брал паддинг от ширины, а не доп
  margin-bottom: 15px;
  &__Top {
    display: flex;
    align-items: center; // центрирование по вертикали
    justify-content: space-between; // центрирование по расстоянию между элементами
    margin-bottom: 0px;

    span {
      @include dsText; // жирность
    }
    button {
      display: inline;

      border-radius: 10px;

      padding: 4px 13px;
      cursor: pointer;
      outline: none;
      border: 3px solid $colorAccentLight;

      &:hover {
        border: 3px solid $colorAccent;
      }
    }

    &__ActiveButton {
      background-color: $colorAccent;
      border: 3px solid $colorAccent !important;
      @include osText;
      transition: 200ms all;
    }
    &__DisableButton {
      background-color: $colorAccentLight;
      @include dsText;
      transition: 200ms all;
    }
    i {
      font-size: 15px;
      margin-left: 6px;
    }
  }
  &__Title {
    @include dxlText;
    margin-top: 10px;
  }
  &__Text {
    @include dsText;
    margin-top: 10px;
  }
  &__Speakers {
    @include dlText;
    margin-top: 15px;
    ul {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        margin-bottom: 10px;
      }
    }
    &__Info {
      display: flex;
      margin-left: 10px;
      justify-content: space-around;
      flex-direction: column;
      &__Name {
        font-weight: 500;
      }
      &__Career {
        font-weight: 400;
      }
    }
  }
  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    button {
      margin: 0 auto;
      background-color: white;
      border-radius: 10px;

      padding: 4px 30px;
      border: 3px solid $colorAccent;
      cursor: pointer;
      outline: none;
      transition: 200ms all;

      @include dlText;
      &:hover {
        background: $colorAccent;
        @include olText;
        transition: 200ms all;
      }
    }
  }
}
