@import '../vars.scss';

.DialogListItem{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $colorGreySecond;
    padding: 0 15px;
    border-left: 3px solid white;
    &__Content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__MessageInfo{
            display: flex;
            flex-direction: column;
            font-size: 14px;
            margin-left: 6px;
            justify-content: space-between;
            padding: 3px 0;
            width: 150px;
            
            &__Name{
                width: 150px;
                display: inline-block;
                color: black;
                font-weight: 600;
                white-space: nowrap; /* Запрещаем перенос строк */
                overflow: hidden; /* Обрезаем все, что не помещается в область */
                text-overflow: ellipsis; 
            }
            &__Text{
                width: 150px;
                color: #404040;
                font-weight: 400;
                white-space: nowrap; /* Запрещаем перенос строк */
                overflow: hidden; /* Обрезаем все, что не помещается в область */
                text-overflow: ellipsis; 
            }
        }
        &__MessageData{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 4px;
            width: 35px;
            &__Time{
                color: #404040;
                font-size: 12px;
                text-align: end;
            }
            &__Unread{
                background: $colorAccent;
                height: 20px;
                width: fit-content;
                min-width: 20px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-weight: 500;
                font-size: 12px;
                margin-left:  auto;
                
                
            }
        }
    }
}

.selected{
    background: $colorAccentLight;
    border-left: 3px solid $colorAccent;
    border-bottom: 1px solid $colorAccentLight;
}