@import "../vars.scss";

.UserItem {
  background: white;
  border-radius: 10px;
  display: flex;
  padding: 5px 14px;
  box-sizing: border-box;
  
  align-items: center;
  border: 2px solid white;

  &__Text {
    margin-left: 12px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__Info {
      display: flex;
      flex-direction: column;

      &__Name {
        @include dxlText;
      }

      &__Career {
        @include lsText
      }
    }
    a {
      text-decoration: none;
      span {
        @include alText;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.clicked {
  border: 2px solid $colorAccent;
}
