@import '../../../../components/UI/vars.scss';

.Inputs {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding-right: 20%;

   &__Divider {
      display: flex;

   }

   &__Select {
      
      label{
         margin-right: 10px;
      }
      select {
         width: 130px;
         height: 30px;
         outline: none;
         box-sizing: border-box;
         border: 1px solid $colorGreySecond;
         padding: 7px;
         background: #FFFFFF;
         border-radius: 5px;
         cursor: pointer;
      }
   }
   &__Button{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 15px 0;
      
  button{
      width: 190px;
      color:$colorAccent;
      background: white;
      border: 2px solid $colorAccent;
      height: 38px;
      
      border-radius: 5px;
      margin: 0 auto;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      outline: none;
      &:hover{
         color:white;
      background: $colorAccent;
      transition: 200ms ease-in-out;
      }
  }
}
}

.Card{
   position: absolute;
   width: 90%;
   height: 70%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background: white;
   i{
      font-size: 50px;
      color: $colorAccent;
   }
   span{
      margin-top: 20px;
      font-size: 20px;
   }
   
}