@import '../../vars.scss';

.FriendMessage {
    display: flex;
    
    margin-top: 15px;
  

    &__Data {
        display: flex;
        flex-direction: column;
        background: white;
        max-width: 50%;
        min-width: 10%;
        float: left;
        border-radius: 10px;
        padding: 5px 10px;
        margin-left: 10px;
        &__Name{
            @include dlText;
            padding-bottom: 3px;
        }

        &__Text {
            word-break: break-all;
            @include dsText;
        }
        &__Time{
            text-align: end;
            @include lsText;
            margin-top: 5px;
        }
    }

}
