.FriendMessage {
    display: flex;
    
    margin-top: 15px;
  

    &__Data {
        display: flex;
        flex-direction: column;
        background: white;
        max-width: 50%;
        min-width: 10%;
        float: left;
        border-radius: 10px;
        padding: 5px 10px;
        margin-left: 10px;
        &__Name{
            font-weight: 600;
            font-size: 14px;
        }

        &__Text {
            word-break: break-all;
            
        }
        &__Time{
            text-align: end;
            font-size: 12px;
            color:#404040;
            margin-top: 5px;
        }
    }

}
