@import "./../../../../components/UI/vars.scss";

.QuizCreator {

}

.QuizList {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: $colorAccentLight;
    border-radius: 10px;
}

.QuizList h1 {
    color: $colorTextM;
}

.QuizList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.QuizList li {
    margin-bottom: 10px;
}

.QuizList li a {
    text-decoration: none;
    color: #363f54;
}

.QuizList li a:hover {
    color: #4a0f0f;
}
