@import '../vars.scss';

.EditCard{
    
    width: 650px;
    background: white;
    padding: 22px 30px;
    border-radius: 10px;
    position: relative;
    &__Title{
        font-size: 20px;
        font-weight: 600;
        
    }
    &__Content{
        margin-top: 35px;
    }
    

}