@import '../vars.scss';

.Tag{
    background: $colorAccent;
    border-radius: $borderRadius;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    padding: 7px 12px;
    align-items: center;
    margin: 5px 13px 5px 0;
    i{
        margin-left: 15px;
    }

}