.MyMessage{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    p{
        text-align: end;
        margin: 0;
    }
   span{
        color: grey;
        font-size: 12px;
        font-weight: 400;
        padding: 0 10px 0 10px;
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }
}