@import "../../../components/UI/vars.scss";

.ChatBox {
  height: 100%;
  display: flex;
  width: 100%;

  &__DialogList {
    background: white;
    border-radius: 10px;
    width: 300px;
    height: 100%;
    padding: 15px 0 0;
    box-sizing: border-box;

    &__SearchBar {
      width: calc(100%-15px);
      height: fit-content;
      border: 1px solid $colorGreySecond;
      border-radius: 20px;
      height: 35px;
      padding: 5px 13px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 15px 15px;

      i {
        color: $colorGreyFirst;
        
      }

      input {
        display: block;
        box-sizing: border-box;
        border: none;

        width: 195px;

        outline: none;
        background: #ffffff;
        border-radius: 5px;
        display: flex;
        @include dsText;

        &::placeholder {
          margin-top: 5px;
          @include lsText;
        }
      }
    }

    &__ScrollList {
      height: 90%;

      ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
        a {
          text-decoration: none;
        }
      }
    }
  }
  &__ChooseDialog {
    width: calc(100% - 200px);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 15px;
    align-items: center;
  }
  &__MessageBox {
    width: calc(100% - 300px);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-left: 15px;
    position: relative;

    &__TopBar {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 15px 0;
      box-sizing: border-box;
      align-items: center;
      height: 56px;
      top: 0;

      &__DialogName {
        @include dxlText;
      }
      i {
        color: #404040;
        cursor: pointer;
        padding: 5px;
        display: none;
        &:hover {
          color: $colorAccent;
        }
      }
    }
    &__Messages {
      width: 100%;
      height: calc(100% - 111px);
      &__NoMessages {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__BottomBar {
      background: white;
      width: 100%;

      bottom: 0;
      height: 45px;
      display: flex;
      align-items: center;

      border-radius: 10px;
      margin-top: 10px;
      &__SendButton,
      &__AttachButton {
        width: 45px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        cursor: pointer;
        color: $colorGreyFirst;
        &:hover {
          color: $colorAccent;
        }
      }
      &__AttachButton {
        i {
          transform: rotate(45deg);
        }
      }
      &__Input {
        width: calc(100% - 90px);
        border: none;
        outline: none;

        input {
          width: 100%;
          border: none;
          outline: none;
          height: 18px;
          @include dsText;
        }
      }
    }
  }
}
