@import "../vars.scss";

.DownBox {
  width: 100%;
  background: white;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin-top: 15px;
  &__Title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
  &__Content{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    p{
      margin: 4px 0;
    }
  }
}
