@import '../vars.scss';

.DownBox {
  width: 100%;
  background: white;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;

  &__Title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
}

// .DownBox{


//     font-size: 16px;

//     background: #b9babe;
//     border-radius: 10px;
//     // height: 100%;
//     width: 260px;
//     color: white;

//     // display: flex;
//     flex-direction: column;
//     // justify-content: space-between;
//     padding: 10px 15px;

//     margin-bottom: 20px;
//     text-align: center;

//     &__UserPhoto {
//         margin: 0 auto;
//         margin-top: 10px;
//         height: 100px;
//         width: 100px;
//         border-radius: 50px;
      
//         background: url("../../../images/userPhoto.jpg");
//         background-size: cover;
//         background-position: center;
//       }
//     }