.UserPhoto {
  height: 41px;
  width: 41px;
  border-radius: 50px;

  background: url("../../../images/userPhoto.jpg");
  background-size: cover;
  background-position: center;
  
}

.sm {
  height: 30px;
  width: 30px;
}

.md {
  height: 54px;
  width: 54px;
}

.lg {
  height: 60px;
  width: 60px;
}

.gt {
  height: 85px;
  width: 85px;
}
