

.UserPhoto{
    
        height:30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid white;
        background: gainsboro;
        margin: 6px 5px 6px 5px;
}

.sm {
        height:30px;
        width: 30px;   
}

.md{
        height:50px;
        width: 50px;
}

.lg{
        height:60px;
        width: 60px;
        
}