@import '../vars.scss';

.UserPhoto {
  height: 41px;
  width: 41px;
  border-radius: 50px;

  background: url("../../../images/userPhoto.jpg");
  background-size: cover;
  background-position: center;
  
}

.sm {
  height: 30px;
  width: 30px;
}

.md {
  height: 50px;
  width: 50px;
}

.lg {
  height: 75px;
  width: 75px;
}

.true{
  border: 4px solid $colorAccent;
}

.gt {
  height: 85px;
  width: 85px;
}
