/* .Layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Layout main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} */

.Layout {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
<<<<<<< HEAD
=======
    z-index: 0;
>>>>>>> 9fec2aab24f965529666f95f46bb95aff1c04fee
}