@import '../../UI/vars.scss';

.Sidebar{
  width: 220px;
  height: 100%;
  font-size: 16px;
  
  
  &__Menu{
    background: #4952A6;
    border-radius: 10px;
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    
    ul{
      list-style: none;
      padding: 0;
      width: 100%;
      hr{
        width: 70%;
        border: 1px solid white;
        background: white;

      }
      li{
        
        a{
          display: flex;
          color: white;
          text-decoration: none;
          width: 100%;
          height: 100%;
          padding: 10px 20px;
          align-items: center;
          
          border-left: 6px solid $colorAccent;
          box-sizing: border-box;
          span{
            white-space: nowrap;
          }
          i{
            font-size: 18px;
            margin-right: 10px;

          }

          
        }
        a.active{
          border-left: 6px solid white !important;
          background: #656caf;
          
          font-weight: 600;
          i{
            font-size: 19px;
          }
        }
        
        a:hover{
          border-left: 6px solid  #656caf;
          background: #656caf;
        }
        
        
      }
    }
    
  }
}

