.Card {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  width: 700px;
  box-shadow: rgb(211, 217, 222) 0px 1px 0px 0px;
  margin: 20px;
  display: block;
}

.Card p {
  margin: 5px 5px 15px 5px;
}
