.DateBox {
    background: #fff;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    box-shadow: rgb(211, 217, 222) 0px 1px 0px 0px;
}


.DateBox p {
    color:rgb(68, 68, 73);
    cursor: pointer;
}


.active {
    background: crimson;
    z-index: 0;
}

.active p{
    color: #fff;
}