$color:  #E9EDF8;
.Timetable {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    
    width: 70%;
    height: 100%;
    padding: 0 100px;
     background:$color;
    
    margin: 30px;
    border-radius: 10px;
    
}

.DateRow {
    display: flex;
    flex-direction: row;
    padding: 10px 100px;
}

.EventColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Timetable h1 {
    color: rgb(68, 68, 73);
    width: 100%;
    text-align: center;
}