.Timetable {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.DateRow {
    display: flex;
    flex-direction: row;
    padding: 13px;
}

.EventColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.Timetable h1 {
    color: rgb(68, 68, 73);
    width: 100%;
    text-align: center;
}