@import '../../../components/UI/vars.scss';

.Agenda{
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  &__DateChanger {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
  i{
     cursor: pointer;
     padding: 1px 5px 0;
  }
 }
}
 
 
 