@import "../vars.scss";

.BGSide {
  background: $colorGreyThird;
  border-radius: 10px;

  min-width: 240px;
  height: 100%;
  margin-left: 20px;
  box-sizing: border-box;
  &__Content {
    height: 100%;
    width: 100%;

    box-sizing: border-box;
  }
}

.padding{
    padding: 10px;
}
