@import "../vars.scss";

.BGSide {
  background: $colorGreyThird;
  border-radius: 10px;

  min-width: 250px;
  max-width: 250px;
  height: 100%;
  box-sizing: border-box;
  margin-left: 20px;
  &__Content {
    height: 100%;
    width: 100%;

    box-sizing: border-box;
  }
}

.padding{
    padding: 10px;
}

.wide{
  min-width: 280px;
}