@import "../../UI/vars.scss";

.FeedCard {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  box-shadow: rgb(211, 217, 222) 0px 1px 0px 1px;
  padding: 10px;
  height: 100%;
  border: 1px solid rgb(211, 217, 222);
  margin-bottom: 30px;
}

.FeedCard__Head {
  display: flex;
}

.FeedCard__Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.FeedCard__Content__Text {
  margin-bottom: 10px;
}

.FeedCard__Content__Image {
  @include image;
  background: center
    url("https://cdn-7.nikon-cdn.com/Images/Learn-Explore/Photography-Techniques/2019/CA-Chris-Ogonek-Picture-Controls/Media/Chris-Ogonek-Picture-Controls-Vivid.jpg");
}
.FeedCard__Content__Bottom {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  i {
    font-size: 25px;
    color: $colorAccent;
  }
}
.FeedCard p {
  margin: 5px 5px 15px 5px;
  font-size: 30px;
}
