@import "../../../components/UI/vars.scss";

.SponsorMain {
  display: flex;
  flex-direction: column;
  padding: 20px 28px;
  overflow-x: hidden;
  &__Reps {
    margin-top: 20px;

    &__Title {
      margin-left: 16px;
      
      font-size: 20px;
      font-weight: 550;
    }
    &__List {
        margin-top: 16px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  // &__Materials {
  //     font-size: 20px;
  //     padding: 12px 15px 17px;
  //     font-weight: 550;
  // }
  // &__Materials {
  //     display: flex;
  //     flex-direction: row-reverse;

  // }
}
