//===============Colors=================//

//Color of Sidebar and other
$colorAccent: #4952A6;
//Color of middle page and other
$colorAccentLight: #DEE0ED;
//Three grades of grey
$colorGreyFirst: #9F9F9F;
$colorGreySecond: #C4C4C4;
$colorGreyThird: #EEEEEE;
//text sizes
$fontSizeDefaut: 12px;
//For EditProfile
$colorTextL: #1F2041;
$colorTextM: rgba(31, 32, 65, 0.75);
$colorTextS: #8F8FA0;
$colorBG1: #FFFFFF;
$colorBG2: #F5F5F5;
$editorHeight: 601px;
//SponsorLogo size lg
$sponsorLogoSizeLarge: 190px;
//UserPhoto size lg
$userPhotoSizeLarge: 75px;

//===============Text=================//
//дизайн код текста
//цвет d - default
//     a - accent
//     o - opposite to accent
//размер s - small
//       l - large
//       xl - xlarge
//*цвет**размер**Text*
@mixin dsText {
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    font-family: "Montserrat", sans-serif;

}
@mixin dlText {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    font-family: "Montserrat", sans-serif;

}
@mixin olText{
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;

}
@mixin osText{
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;

}
@mixin dxlText{
    font-weight: 600;
    font-size: 15px;
    color: black;
    font-family: "Montserrat", sans-serif;

}
@mixin dxxlText{
    font-weight: 700;
    font-size: 20px;
    color: black;
    font-family: "Montserrat", sans-serif;

}
@mixin lsText{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: $colorGreyFirst;
}
@mixin alText{
    font-weight: 600;
    font-size: 14px;
    color: $colorAccent;
    font-family: "Montserrat", sans-serif;

}




@mixin unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently               not supported by any browser */
}
