//===============Colors=================//

//Color of Sidebar and other
$colorAccent: #4952A6;
//Color of middle page and other
$colorAccentLight: #DEE0ED;
//Three grades of grey
$colorGreyFirst: #9F9F9F;
$colorGreySecond: #C4C4C4;
$colorGreyThird: #EEEEEE;
//For EditProfile
$colorTextL: #1F2041;
$colorTextM: rgba(31, 32, 65, 0.75);
$colorTextS: #8F8FA0;
$colorBG1: #FFFFFF;
$colorBG2: #F5F5F5;

//===============Text=================//
@mixin text {
    font-weight: 400px;
    font-size: 16px;
    color: #000000;
}

@mixin unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently               not supported by any browser */
}
